{% extends 'account/base.html' %}

{% block content %}
    <a href="{% url 'voters' %}">
        <button type="button" class="btn-close" aria-label="Close"></button>
    </a>
    <div class="d-flex justify-content-center">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Image</label>
            <input type="file" accept="image/*" class="form-control" name="image" required>
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname" placeholder="First Name" required>
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>
            <label>FingerPrint</label>
            <input type="number" class="form-control" name="fingerprint" placeholder="Fingerprint" required>
            <br/>
            <input type="submit" class="form-control btn-outline-success">
        </form>
    </div>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endblock %}