<div class="container">
    <div class="col align-self-center">
        {% if candidates %}
            <table class="table table-hover table-light">
                <tr class="table-dark">
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                {% for i in candidates %}
                    <tr class="candidate" data-bs-toggle="modal" data-bs-target="#candidateModal"
                        data-bs-update="{% url 'update_candidate' i.id %}"
                        data-bs-delete="{% url 'delete_candidate' i.id %}"
                        data-bs-name="{{ i.candidateFirstname }} {{ i.candidateLastname }}"
                        data-bs-img="{{ i.candidateImg.url }}" data-bs-details="{{ i.candidateDetails }}">
                        <td>{{ i.candidateFirstname }}</td>
                        <td>{{ i.candidateLastname }}</td>
                    </tr>
                {% endfor %}

            </table>
        {% endif %}
    </div>

</div>

<div class="modal fade" id="candidateModal" tabindex="-1" aria-labelledby="candidateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h3 id="candidateImage"></h3>
                <h2 id="candidateName" class="text-center">Name</h2>
                <h3 id="candidateDetails" class="text-center">Details</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% url 'candidate' as candidate %}
                {% if request.path == candidate %}
                    <a type="button" class="btn btn-primary" href="" id="updateCandidate">Update</a>
                    <a type="button" class="btn btn-danger" href="" id="deleteCandidate">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    var candidateModal = document.getElementById('candidateModal')
    candidateModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget

        var updateLink = button.getAttribute('data-bs-update')
        var deleteLink = button.getAttribute('data-bs-delete')
        var candidateName = button.getAttribute('data-bs-name')
        var candidateDetails = button.getAttribute('data-bs-details')
        var candidateImage = button.getAttribute('data-bs-img')

        var modalTitle = candidateModal.querySelector('.modal-title')
        var modalBodyName = candidateModal.querySelector('.modal-body #candidateName')
        var modalBodyDetails = candidateModal.querySelector('.modal-body #candidateDetails')

        var upd = candidateModal.querySelector('.modal-footer #updateCandidate')
        var del = candidateModal.querySelector('.modal-footer #deleteCandidate')

        upd.setAttribute("href", updateLink);
        del.setAttribute("href", deleteLink);

        modalTitle.textContent = 'New message to ' + candidateName
        modalBodyName.textContent = candidateName
        modalBodyDetails.textContent = candidateDetails

        function display(candidateImage) {
            let location = document.getElementById("candidateImage");

            var existingImg = location.getElementsByTagName("img");

            if (existingImg.length) {
                existingImg[0].src = candidateImage
            } else {
                let imgElement = document.createElement("img");
                imgElement.src = candidateImage
                imgElement.width = 150
                imgElement.height = 150
                imgElement.className = "img-thumbnail rounded mx-auto d-block"
                location.append(imgElement);
            }
        }

        display(candidateImage)
    })

</script>