{% extends 'account/base.html' %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/product/">


{% block content %}
    <a href="{% url 'event' %}">
        <button type="button" class="btn-close" aria-label="Close"></button>
    </a>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
         style="padding: 1rem!important;">
        <a href="#">
            <button type="button" class="btn bi-pen" style="text-align: right"> Edit</button>
        </a>
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">{{ current_event.eventName }}</h1>
            <p class="lead">{{ current_event.eventPosition }}</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="eventCode" value="{{ current_event.eventUUID }}" readonly>
                <button class="btn btn-outline-secondary bi bi-clipboard" type="button" onclick="copy()"></button>
            </div>
            <p class="alert alert-info" id='clip' style='display: none'>Copied to Clipboard</p>
            <p class="btn btn-outline-secondary">{{ current_event.eventStartDate }}</p>
            <p class="btn btn-outline-secondary">{{ current_event.eventEndDate }}</p>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Candidates</h2>
                <p class="lead">Candidates for the position</p>
            </div>
            <div>
                {% include 'account/candidateview.html' %}
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-dark" href="#">Select Candidate</a>
            </div>
        </div>
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Voters</h2>
                <p class="lead">Voters on the event</p>
            </div>
            <div>
                {% include 'account/voterview.html' %}
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-success" href="#">Select Voter</a>
            </div>
        </div>
    </div>

    <script>
        function copy() {
            var copyText = document.getElementById("eventCode");
            var text = document.getElementById("clip");

            copyText.select();
            copyText.setSelectionRange(0, 99999);

            navigator.clipboard.writeText(copyText.value);
            text.style.display = "block";
            setTimeout(function () {
                text.style.display = "none";
            }, 700);

        }
    </script>
{% endblock %}