{% extends 'account/base.html' %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/product/">


{% block content %}

    <a href="{% url 'event' %}">
        <button type="button" class="btn-close" aria-label="Close"></button>
    </a>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
         style="padding: 1rem!important;">
        <a href="#">
            <button type="button" class="btn bi-pen" style="text-align: right"> Edit</button>
        </a>

        {% include 'message.html' %}

        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">{{ current_event.eventName }}</h1>
            <p class="lead">{{ current_event.eventPosition }}</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="eventCode" value="{{ current_event.eventUUID }}" readonly>
                <button class="btn btn-outline-secondary bi bi-clipboard" type="button" onclick="copy()"></button>
            </div>
            <p class="alert alert-info" id='clip' style='display: none'>Copied to Clipboard</p>
            <p class="btn btn-outline-secondary">{{ current_event.eventStartDate }}</p>
            <p class="btn btn-outline-secondary">{{ current_event.eventEndDate }}</p>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Candidates</h2>
                <p class="lead">Candidates for the position</p>
            </div>
            <div>
                {% include 'account/candidateview.html' %}
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleCandidateModal">Select
                    Candidate</a>
            </div>
        </div>
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Voters</h2>
                <p class="lead">Voters on the event</p>
            </div>
            <div>
                {% include 'account/voterview.html' %}
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleVoterModal">Select
                    Voter</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleVoterModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for i in current_voters %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="current_voters" value="{{ i.id }}"
                                       id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{ i }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add Voter</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleCandidateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for i in current_candidates %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="current_candidates"
                                       value="{{ i.id }}"
                                       id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{ i }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add Candidate</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEvent">Delete Event</a>
    </div>

    <div class="modal fade" id="deleteEvent" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% csrf_token %}
                    <p>Do you want to delete the Event?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'delete_event' current_event.id %} " method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script>
        function copy() {
            var copyText = document.getElementById("eventCode");
            var text = document.getElementById("clip");

            copyText.select();
            copyText.setSelectionRange(0, 99999);

            navigator.clipboard.writeText(copyText.value);
            text.style.display = "block";
            setTimeout(function () {
                text.style.display = "none";
            }, 700);

        }
    </script>
{% endblock %}