<div class="container">
    <div class="col align-self-center">
        <table class="table table-hover table-light">
            <tr class="table-dark">
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            {% for i in voters %}
                <tr class="voter" data-bs-toggle="modal" data-bs-target="#voterModal"
                    data-bs-name="{{ i.voterFirstname }} {{ i.voterLastname }}"
                    data-bs-img="{{ i.voterImg }}"
                    data-bs-print="{{ i.voterFingerprint }}">
                    <td>{{ i.voterFirstname }}</td>
                    <td>{{ i.voterLastname }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>

<div class="modal fade" id="voterModal" tabindex="-1" aria-labelledby="voterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h2 id="voterName">Name</h2>
                <h3 id="voterPrint">print</h3>
                <h3 id="voterImage">Image</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>


<script>
    var voterModal = document.getElementById('voterModal')
    voterModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var voterName = button.getAttribute('data-bs-name')
        var voterPrint = button.getAttribute('data-bs-print')
        var voterImage = button.getAttribute('data-bs-img')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = voterModal.querySelector('.modal-title')
        var modalBodyName = voterModal.querySelector('.modal-body #voterName')
        var modalBodyPrint = voterModal.querySelector('.modal-body #voterPrint')
        var modalBodyImage = voterModal.querySelector('.modal-body #voterImage')

        modalTitle.textContent = 'New message to ' + voterName
        modalBodyName.textContent = voterName
        modalBodyPrint.textContent = voterPrint
        modalBodyImage.textContent = voterImage
    })

</script>