<div class="container">
    <div class="col align-self-center">
        {% if voters %}
            <table class="table table-hover table-light">
                <tr class="table-dark">
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                {% for i in voters %}
                    <tr class="voter" data-bs-toggle="modal" data-bs-target="#voterModal"
                        data-bs-name="{{ i.voterFirstname }} {{ i.voterLastname }}"
                        data-bs-img="{{ i.voterImg.url }}">
                        <td>{{ i.voterFirstname }}</td>
                        <td>{{ i.voterLastname }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

</div>

<div class="modal fade" id="voterModal" tabindex="-1" aria-labelledby="voterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h3 id="voterImage"></h3>
                <h2 id="voterName" class="text-center">Name</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% url 'voters' as voters %}
                {% if request.path == voters %}
                    <button type="button" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script>
    var voterModal = document.getElementById('voterModal')
    voterModal.addEventListener('show.bs.modal', function (event) {

        var button = event.relatedTarget

        var voterName = button.getAttribute('data-bs-name')
        var voterImage = button.getAttribute('data-bs-img')


        var modalTitle = voterModal.querySelector('.modal-title')
        var modalBodyName = voterModal.querySelector('.modal-body #voterName')

        modalTitle.textContent = 'New message to ' + voterName
        modalBodyName.textContent = voterName

        function display(voterImage) {
            let location = document.getElementById("voterImage");

            var existingImg = location.getElementsByTagName("img");

            if (existingImg.length) {
                existingImg[0].src = voterImage
            } else {

                let imgElement = document.createElement("img");
                imgElement.src = voterImage
                imgElement.width = 150
                imgElement.height = 150
                imgElement.className = "img-thumbnail rounded mx-auto d-block"
                location.append(imgElement);
            }

        }

        display(voterImage);
    })

</script>