{% load static %}
{% static "img" as Baseimg %}
<!doctype html>
<html lang="en">
  <head>
    <title>Blochain Voting: The Voter's Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!--header icon CSS -->
    <link rel="icon" href="{% static 'img/Logo-Test.png' %}">
    <!-- animations CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- font-awsome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- mobile menu CSS -->
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  </head>
  <body>
  {% block content %}
      {% if messages %}
          {% for message in messages %}
              <script>alert('{{ message }}')</script>
          {% endfor %}
      {% endif %}
      {% include 'home/navbar.html' %}
    <!--welcome area start-->
    <div class="welcome-area wow fadeInUp" id="home">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 align-self-center">
                    <div class="welcome-right">
                        <div class="welcome-text">
                             <h1>Video</h1>
                            <h4>This is where video goes</h4>
                        </div>
                        <div class="welcome-btn">
                            <a href="login" class="gradient-btn v2 mr-20">Admin</a>
                            <a href="voter" class="gradient-btn v2">I'm Voter</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="welcome-img">
                        <img src="{% static 'img/welcome-img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--welcome area end-->

    <!--about area start-->
    <div class="about-area wow fadeInUp" id="about">
        <div class="space-30"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>We are</h5>
                    </div>
                    <div class="space-30"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel owl-carousel text-center">
                        {% for img in imgs %}
                        <div class="single-logo-wrapper">
                            <div class="single-item">
                                <img src="{{Baseimg}}/{{ img}}" alt="">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="space-90"></div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="about-mid-img">
                        <img src="{% static 'img/about-left.png' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 align-self-center">
                    <div class="heading">
                        <h5>We are</h5>
                    </div>
                    <div class="about-mid-text">
                        <h1>About Us</h1>
                        <div class="space-10"></div>
                        <p>Project Description</p>
                    </div>
                    <div class="space-30"></div>
                    <a href="#" class="gradient-btn v2 about-btn"> <i class="fa fa-send-o"></i>Visit our Repo</a>
                </div>
            </div>
        </div>
        <div class="space-90"></div>
    </div>
    <!--about area end-->
      
    <!--roadmap area start-->
    <div class="roadmap-area section-padding wow fadeInUp" id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>history Timeline</h5>
                        <div class="space-10"></div>
                        <h1>Development Roadmap</h1>
                    </div>
                    <div class="space-60 d-none d-sm-block"></div>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="roadmap-carousel owl-carousel">
                <div class="roadmap-item">
                    <div class="single-roadmap text-center road-left">
                        <div class="single-roadmap-img">
                            <img src="{% static 'img/roadmap-1.png' %}" alt="">
                        </div>
                        <div class="space-30"></div>
                        <div class="roadmap-text">
                            <p>01.03.2017</p>
                            <div class="space-10"></div>
                            <h5>Concept and whitepaper</h5>
                            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item align-self-center">
                    <div class="single-roadmap road-right">
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <div class="single-roadmap-img">
                                    <img src="{% static 'img/roadmap-2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="roadmap-text">
                                    <p>21.06 .2017</p>
                                    <h5>Recruitment of Our team</h5>
                                    <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item">
                    <div class="single-roadmap text-center road-left">
                        <div class="single-roadmap-img">
                            <img src="{% static 'img/roadmap-4.png' %}" alt="">
                        </div>
                        <div class="space-30"></div>
                        <div class="roadmap-text">
                            <p>31.08.2017</p>
                            <div class="space-10"></div>
                            <h5>Core Development</h5>
                            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item align-self-center">
                    <div class="single-roadmap road-right">
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <div class="single-roadmap-img">
                                    <img src="{% static 'img/roadmap-5.png' %}" alt="">
                                </div>
                        
                            </div>
                            <div class="col-7">
                                <div class="roadmap-text">
                                    <p>31.11.2017</p>
                                    <h5>Main Development</h5>
                                    <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item">
                    <div class="single-roadmap text-center road-left">
                        <div class="single-roadmap-img">
                            <img src="{% static 'img/roadmap-4.png' %}" alt="">
                        </div>
                        <div class="space-30"></div>
                        <div class="roadmap-text">
                            <p>31.08.2017</p>
                            <div class="space-10"></div>
                            <h5>Core Development</h5>
                            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item align-self-center">
                    <div class="single-roadmap road-right">
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <div class="single-roadmap-img">
                                    <img src="{% static 'img/roadmap-5.png' %}" alt="">
                                </div>
                        
                            </div>
                            <div class="col-7">
                                <div class="roadmap-text">
                                    <p>31.11.2017</p>
                                    <h5>Main Development</h5>
                                    <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--roadmap area end-->

    <!--team-bg-->
    <div class="team-bg">
        <!--team area start-->
        <div class="team-area wow fadeInUp section-padding" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="heading">
                            <h5>core team</h5>
                            <div class="space-10"></div>
                            <h1>Our Superman</h1>
                        </div>
                        <div class="space-60"></div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single-team">
                            <div class="single-team-img">
                                <img src="{% static 'img/superman-1.jpg' %}" alt="">
                            </div>
                            <div class="space-30"></div>
                            <div class="single-team-content">
                                <h3>William Delisle</h3>
                                <div class="space-10"></div>
                                <h6>FOUNDER & CEO</h6>
                            </div>
                            <div class="space-10"></div>
                            <div class="single-team-social">
                                <ul>
                                    <li><a class="ico-1" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="ico-2" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="ico-3" href="#"><i class="fa fa-twitter "></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single-team">
                            <div class="single-team-img">
                                <img src="{% static 'img/superman-2.jpg' %}" alt="">
                            </div>
                            <div class="space-30"></div>
                            <div class="single-team-content">
                                <h3>Julius Book</h3>
                                <div class="space-10"></div>
                                <h6>SOFTWARE ENGINEER</h6>
                            </div>
                            <div class="space-10"></div>
                            <div class="single-team-social">
                                <ul>
                                    <li><a class="ico-1" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="ico-2" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="ico-3" href="#"><i class="fa fa-twitter "></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single-team">
                            <div class="single-team-img">
                                <img src="{% static 'img/superman-6.jpg' %}" alt="">
                            </div>
                            <div class="space-30"></div>
                            <div class="single-team-content">
                                <h3>Jessica Blair</h3>
                                <div class="space-10"></div>
                                <h6>MARKETING ANALYST</h6>
                            </div>
                            <div class="space-10"></div>
                            <div class="single-team-social">
                                <ul>
                                    <li><a class="ico-1" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="ico-2" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="ico-3" href="#"><i class="fa fa-twitter "></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single-team">
                            <div class="single-team-img">
                                <img src="{% static 'img/superman-7.jpg' %}" alt="">
                            </div>
                            <div class="space-30"></div>
                            <div class="single-team-content">
                                <h3>Nancy Burns</h3>
                                <div class="space-10"></div>
                                <h6>Head of Design</h6>
                            </div>
                            <div class="space-10"></div>
                            <div class="single-team-social">
                                <ul>
                                    <li><a class="ico-1" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="ico-2" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="ico-3" href="#"><i class="fa fa-twitter "></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--team area end-->

    </div>
    <!--team bg area end-->

    <!--community area start-->
    <div class="community-area wow fadeInUp section-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>GReat Community</h5>
                        <div class="space-10"></div>
                        <h1>Our Community </h1>
                    </div>
                <div class="space-60"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg">
                    <div class="single-community big-social">
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community mid-social">
                        <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="single-community">
                        <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community">
                        <a class="github" href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <div class="single-community mid-social">
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community big-social">
                        <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community mid-social">
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="single-community">
                        <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--community area end-->

    <!--footer area start-->
    <div class="footera-area section-padding wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <div class="logo-area footer">
                            <a href="#"><img src="{% static 'img/Logo-Test.png' %}" alt=""></a>
                        </div>
                        <div class="space-20"></div>
                        <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific architects called giant larvaceans. </p>
                        <div class="space-10"></div>
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-footer">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Token Sale</a></li>
                            <li><a href="#">Roadmap</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="single-footer">
                        <ul>
                            <li><a href="#">White Paper</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">APP</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>Subscribe to our Newsletter</p>
                        <div class="space-20"></div>
                        <div class="footer-form">
                            <form action="#">
                                <input type="email" placeholder="Email Address">
                                <a href="" class="gradient-btn subscribe">GO</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer area end-->
    {% endblock %}
    <!-- jquery 2.2.4 js-->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static 'js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static 'js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static 'js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>