{% extends 'home/index.html' %}
{% load bootstrap %}
{% block content %}
    {% include 'home/navbar.html' %}
    <div class="welcome-area wow fadeInUp">
        <form action="" method="POST">
            {% csrf_token %}
            {% for label in form %}
                <div style="margin: 10px 0 10px 20px;">
                    {{ label.label }}<br>
                </div>
                {{ label }}<br>
            {% endfor %}
            {% for label in profile %}
                <div style="margin: 10px 0 10px 20px;">
                    {{ label.label }}<br>
                </div>
                {{ label }}<br>
            {% endfor %}
            <input type="submit">
        </form>

        <ul style="background-color: #f8d7da;">
            {% for i in form %}
                {% if i.errors %}
                    {% for j in i.errors %}
                        <li class="alert alert-danger" style="border:0; line-height: 10px">
                            {{ j }}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>

    </div>
{% endblock %}