{% extends 'home/index.html' %}
{% load bootstrap %}
{% block content %}
    {% include 'home/navbar.html' %}
    <div class="welcome-area wow fadeInUp">
        <form action="" method="POST">
            {% csrf_token %}
            {% for label in form %}
                <div style="margin: 10px 0 10px 20px;">
                {{ label.label }}<br>
                </div>
                {{ label }}<br>
            {% endfor %}
            {% for label in profile %}
                <div style="margin: 10px 0 10px 20px;">
                {{ label.label }}<br>
                </div>
                {{ label }}<br>
            {% endfor %}
            <input type="submit">
        </form>


{#    {% if messages %}#}
{#        {% for message in messages %}#}
{#            <div class="alert alert-{{ message.tags }}" role="alert">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endif %}#}
    </div>
{#        <form action="" method="POST">#}
{#            {% csrf_token %}#}
{#            <input type="text" name="first_name" placeholder="First Name" required><br>#}
{#            <input type="text" name="last_name" placeholder="Last Name" required><br>#}
{#            <input type="text" name="username" placeholder="Username" required><br>#}
{#            <input type="email" name="email" placeholder="Email Address" required><br>#}
{#            <input type="password" name="password" placeholder="Password" required><br>#}
{#            <input type="password" name="repassword" placeholder="Confirm Password" required><br>#}
{#            <input type="text" name="role" placeholder="Role" required><br>#}
{#            <input type="submit">#}
{#        </form>#}
{% endblock %}