<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I AM Voter</title>
</head>
<body>

    {% extends 'home/index.html' %}
    {% block content %}
        {% include 'home/navbar.html' %}
        <div class="welcome-area wow fadeInUp">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="event_code" placeholder="Event Code"><br>
                <input type="submit">
            </form>
        </div>

    {% endblock %}

</body>
</html>